<%-include include/header.html%>

<%articles.forEach(function(article,index){%>
<div class="row" style="float:left;width:25%;margin-left: 10px;">
    <div class="col-sm-6 col-md-3" style="width:100%;">
        <div class="thumbnail">
            <%if(article.poster){%>
            <img src="<%=article.poster%>" style="height: 200px"  alt="<%=article.title%>" title="<%=article.user.username%> 的博客">
            <%}%>
            <div class="caption">
                <a href="/article/detail/?keyId=<%=article._id%>">
                    <h3 title="<%=article.title%>"><%=article.title%></h3>
                </a>
                <p><%-article.content%></p>

                <span>作者:<%=article.user.username%></span>
                </br>
                <span>发布时间:<%=article.createDate.toLocaleString()%></span>
            </div>
        </div>
    </div>
</div>
<%})%>


<%-include include/footer.html%>






